#### Dictionary allow to store key value pairs,also know as maps,hashtables,associates array.

#### Ex for a dictonary is the telephone directory

In [1]:
d = {"tom":38726820,"rob":38491018,"joe":74188829}

In [2]:
d

{'tom': 38726820, 'rob': 38491018, 'joe': 74188829}

In [3]:
d["tom"]

38726820

##### Adding to the dictornary

In [7]:
d ["sam"]=383774927

In [8]:
d

{'tom': 38726820, 'rob': 38491018, 'joe': 74188829, 'sam': 383774927}

In [9]:
del d["sam"]

In [10]:
d

{'tom': 38726820, 'rob': 38491018, 'joe': 74188829}

In [13]:
for key in d:
    print("key",key,"value:",d[key])

key tom value: 38726820
key rob value: 38491018
key joe value: 74188829

In [14]:
for k,v in d.items():
    print("key:",key,"value:",v)

key: joe value: 38726820
key: joe value: 38491018
key: joe value: 74188829

In [15]:
"tom" in d

True

In [16]:
"samir"in d

False

In [17]:
d.clear()

In [18]:
d

{}

#### Tuples

#### Tuple is a list of values grouped together

In [20]:
point = (5,9)

In [21]:
point

(5, 9)

In [22]:
point[0]

5

In [23]:
point[1]

9