### Problem:store monthly expensesin a list and find out total expenses for all months

In [15]:
exp = [2340,2500,2100,3100,2980]

In [16]:
#total = exp[0]+exp[1]+exp[2]+exp[3]

In [17]:
#print(total)

#### This can also be written as

In [18]:
total = 0

In [19]:
for item in exp:
    total = total+item

In [20]:
print(total)

13020

#### Print 1 to 10 using range

In [26]:
for i in range(1,11):
    print(i+1)

2
3
4
5
6
7
8
9
10
11

### Same problem as above using len

In [23]:
exp = [2340,2500,2100,3100,2980]

In [31]:
total = 0
for i in range(len(exp)):
    print('month:',(i+1),'expense:',exp[i])
    total = total +exp[i]
    
print('total expense is :',total)

month: 1 expense: 2340
month: 2 expense: 2500
month: 3 expense: 2100
month: 4 expense: 3100
month: 5 expense: 2980
total expense is : 13020

#### example 2

#### search for lost car key in home and when found stop searching

In [32]:
key_location = "chair"

In [33]:
locations = ["garage","living room","chair","closet"]

In [35]:
for i in locations:
    if i==key_location:
        print("key is found in",i)
        break
    else:
        print("key is not found in",i)

key is not found in garage
key is not found in living room
key is found in chair

#### example 3

#### print square of numbers between 1 to 5 except even numbers

In [39]:
for i in range (1,6):
    if i %2==0:
        continue
    print(i*i)

1
9
25

#### print 1 to 5

In [41]:
i = 1
while i<=5:
    print(i)
    i = i+1

1
2
3
4
5

##### if i=i+1 is not there it will get into an infinite loop