#### ex1

In [1]:
tom_exp_list = [2100,3156,4673]
joe_exp_list = [200,500,600]

In [2]:
total = 0
for item in tom_exp_list:
    total =total+item
print("Tom's total expenses:",total)

Tom's total expenses: 9929

In [3]:
total = 0
for item in joe_exp_list:
    total =total+item
print("Joe's total expenses:",total)

Joe's total expenses: 1300

#### we can also write it using function

In [8]:
def calculate_total(exp):
    total = 0
    for item in exp:
        total = total+item
    return total

In [9]:
tom_exp_list = [2100,3156,4673]
joe_exp_list = [200,500,600]

In [11]:
toms_total = calculate_total(tom_exp_list)
joes_total = calculate_total(joe_exp_list)

In [12]:
print("toms total expenses:",toms_total)
print("joes total expenses:",joes_total)

toms total expenses: 9929
joes total expenses: 1300

#### ex2 sum of 2 numbers using function

In [13]:
def sum(a,b):
    total = a+b
    return total

n = sum(5,6)
print("Total:",n)

Total: 11