In [1]:
import numpy as np

In [2]:
num1 = [2, 1, 2, 4, 6, 4, 8, 5, 3, 1]

In [3]:
list = [10,25.5,3+2j,"hello"]

In [4]:
list

[10, 25.5, (3+2j), 'hello']

In [5]:
list[1]

25.5

In [6]:
list[2]

(3+2j)

In [7]:
list[3]

'hello'

#### Tuples

In [8]:
T1=(10,25.5,3+2j," oieee hello")

In [9]:
T1

(10, 25.5, (3+2j), ' oieee hello')

In [10]:
T1[3]

' oieee hello'

In [11]:
import numpy as np
import pandas as pd

In [14]:
num1 = [1,2,3,4,5,3,1,4,5,6,2,1,"hello",4+5j]

In [15]:
num1

[1, 2, 3, 4, 5, 3, 1, 4, 5, 6, 2, 1, 'hello', (4+5j)]

In [16]:
num1[7]

4

In [18]:
num1[4]

5

In [19]:
num1[12]

'hello'

In [20]:
num1[13]

(4+5j)

#### Tuple

In [21]:
T1 = (1,2,3,4,2,1.3,43,3)

In [22]:
T1

(1, 2, 3, 4, 2, 1.3, 43, 3)

In [23]:
T1[3]

4

### Lists

In [24]:
sample_list = [1,"anirudh",['a','d']]

In [25]:
sample_list

[1, 'anirudh', ['a', 'd']]

In [26]:
print(sample_list)

[1, 'anirudh', ['a', 'd']]

### Array

In [27]:
import array

In [28]:
sample_array = array.array('i',[1,2,3])

In [29]:
for i in sample_array:
    print(i)

1
2
3

In [30]:
array = [1,2,3,4,5.4,2,1]

In [31]:
for i in array:
    print(i)

1
2
3
4
5.4
2
1

In [32]:
array

[1, 2, 3, 4, 5.4, 2, 1]